@import url(./common.css);

main ul {
  width: 66%;
  margin: 150px auto;
}

.container {
  width: 100%;
  height: 900px;
  background-image: url(../img/img_visual.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainbox {
  display: flex;
  flex-direction: column;
}
.mainbox > p {
  font-size: 80px;
  color: #f5f4a5;
  font-weight: 700;
  text-transform: uppercase;
}
.mainbox > button {
  width: 200px;
  height: 50px;
  margin: auto;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  transform: translateY(50%);
  display: inline-block;
  text-align: center;
}
.mainbox button > a {
  color: #fff;
}
.mainbox button:hover {
  background: black;
  transition: 1s;
}

.content li {
  display: flex;
  margin-bottom: 30px;
}
.content li:last-child {
  margin-bottom: 0;
}
.content li > div {
  width: 50%;
}
.content li > div > img {
  width: 100%;
}

.content div > span {
  font-size: 30px;
  font-weight: 700;
  position: relative;
}
.content div > span::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: black;
  width: 50%;
  height: 1px;
  z-index: 100;
  top: 50%;
}
.content div > p {
  font-size: 14px;
  margin-top: 20px;
}
.content div > button {
  width: 30%;
  background-color: transparent;
  border: 0;
  outline: 0;
  margin-top: 30px;
  padding: 0;
  text-align: left;
}
.content li > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
}
.content li:nth-child(even) div:nth-child(1) {
  order: 2;
}
.content li:nth-child(even) div:nth-child(2) {
  order: 1;
}
.last-content {
  padding: 50px 0;

  background: rgb(205, 231, 242);
  text-align: center;
}
.last-content > div {
  width: 1500px;
  margin: 0 auto;
  padding-top: 150px;
}
.last-content div > span {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  position: relative;
}
.last-content div > span::after {
  content: "";
  display: block;
  margin: 50px auto;
  background-color: black;
  width: 150px;
  height: 3px;
  z-index: 100;
  top: 50%;
}
.last-content div > p {
  font-size: 20px;
  padding-top: 30px;
}

.img-box {
  width: 1500px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.img-box > div > img {
  width: 320px;
  height: 320px;
  margin: 30px 15px 0 15px;

  border-radius: 80%;
}
.img-box > div > img:hover {
  border-radius: 0;
  transition: 1s;
}
footer {
  width: 100%;
  height: 130px;
  font-size: 15px;
  background: rgb(198, 197, 197);
  text-align: center;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
}
